# ============================================
# main
# ============================================
Flask==3.0.3              
Flask-CORS==4.0.1         
requests==2.32.3          

# ============================================
# ml/nlp
# ============================================
transformers==4.46.2      
torch==2.5.1              
sentence-transformers==3.0.1
scikit-learn==1.5.2       
numpy==1.26.4             
scipy==1.14.1             
safetensors==0.4.5        
tokenizers==0.20.3        

# ============================================
# additional
# ============================================
redis==5.2.0              
pandas==2.2.3             
python-dotenv==1.0.1      